extends layout

block content
    h1 #{block.number} 블록
    p 블록 헤시     : #{block.hash}
    p 블록 생성시간 : #{block.time}
    p 트란잭션 개수 : #{block.txCount} 개

    ul
        each tx in block.transactions
                    li
                        a(href="http://ropsten.etherscan.io/tx/"+tx.hash) #{tx.hash}        



